<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Word Counts</th>
        <th scope="col">Snippet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of pages;let i = index">
        <th scope="row">{{i+1}}</th>
        <td><a style="text-decoration:none;" target="_blank" [href]="'http://en.wikipedia.org?curid=' + page.pageid">{{page.title}}</a></td>
        <td>{{page.wordcount}}</td>
        <td [innerHTML]="page.snippet">{{page.snippet}}</td>
      </tr>
    </tbody>
  </table>
</div>
